/* Fonts */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 300;
  src: url("../fonts/poppins-v24-latin-300.woff2") format("woff2"),
    url("../fonts/poppins-v24-latin-300.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2"),
    url("../fonts/poppins-v24-latin-regular.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2"),
    url("../fonts/poppins-v24-latin-600.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 900;
  src: url("../fonts/poppins-v24-latin-900.woff2") format("woff2"),
    url("../fonts/poppins-v24-latin-900.ttf") format("truetype");
}

:root {
  --color-primery-dark: #31261a;
  --color-primery-normal: #a18268;
  --color-primery-light: #faf4ea;
  --color-brand-dark: #465929;
  --color-brand-light: #819b57;
  --color-secondary: #cfcfbc;
}

/* Base */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-primery-dark);
  background-color: lightgray; /* remove */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  display: inline-block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.section-title {
  font-size: 64px;
  line-height: 1.3;
  font-weight: 900;
}

.accent-font {
  font-weight: 600;
  text-transform: uppercase;
}

.accent-text {
  text-transform: uppercase;
}

.accent-light {
  color: var(--color-brand-light);
}

.accent-dark {
  color: var(--color-brand-dark);
}

/* Link */
.link {
  color: var(--color-primery-light);
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-light);
}

.footer-link {
  font-style: normal;
  font-size: 16px;
  font-weight: 300;
}

/* Button */
.button {
  flex-basis: 100%;
  max-width: 238px;
  padding: 16px 32px;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 600;
  color: var(--color-primery-light);
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  color: var(--color-brand-light);
  background-color: transparent;
}

/* Carusel */
.carusel-button {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 44px;
  height: 44px;
  fill: var(--color-primery-dark);
  background-color: transparent;
  border: 2px solid var(--color-primery-dark);
  border-radius: 50%;
}

.carusel-button:hover {
  background-color: var(--color-primery-dark);
  fill: var(--color-primery-light);
  cursor: pointer;
}

/* Header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.header-list {
  display: flex;
  justify-content: center;
  gap: 64px;
}

/* Hero-section */
.hero-section {
  padding: 272px 0;
  background-image: linear-gradient(
      102.76deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url(../Images/hero-image.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-title {
  margin-bottom: 0;
  font-size: 128px;
  font-weight: 900;
  color: var(--color-primery-light);
  text-align: center;
}

/* Advantages-section */
.advantages-section {
  background-color: var(--color-brand-light);
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 16px 0;
  font-size: 20px;
  font-weight: 300;
  color: var(--color-primery-light);
}

/* Traditions-section */
.traditions-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  display: flex;
  flex-direction: column;
  gap: 42px;
  flex-basis: 100%;
  max-width: 688px;
}

.traditions-text {
  display: flex;
  flex-direction: column;
  gap: 42px;
  margin: 0;
}

.traditions-foto {
  border-radius: 400px 400px 8px 8px;
}

/* Chefs-section */
.chefs-title {
  position: relative;
  text-align: center;
  margin-bottom: 80px;
}

.chefs-title::before,
.chefs-title::after {
  position: absolute;
  bottom: 24px;
  display: block;
  width: 344px;
  border: 2px solid var(--color-secondary);
  content: "";
}

.chefs-title::before {
  left: 0;
}

.chefs-title::after {
  right: 0;
}

.chefs-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 32px;
}

.chef-item {
  flex-basis: calc((100% - 40px) / 2);
}

.chef-card {
  display: flex;
  gap: 32px;
}

.chef-foto {
  box-shadow: -16px 16px 0 0 var(--color-primery-light),
    -16px 16px 0 2px var(--color-primery-normal);
  border-radius: 8px 8px 8px 200px;
}

.chef-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

.chef-text {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* Formats-section */
.formats-title {
  margin-bottom: 80px;
  text-align: center;
}

.formats-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.formats-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.format-item {
  display: flex;
  flex-basis: calc((100% - 48px) / 3);
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    #31261a 100%
  );
  border: 2px solid green; /* remuve */
  border-radius: 16px;
}

.format-article {
  display: flex;
  align-items: flex-end;
  height: 444px;
}

.format-text {
  padding: 0 24px 24px;
  font-size: 14px;
  font-weight: 300;
  color: var(--color-primery-light);
}

.format-title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
}

/* Contacts-section */
.contacts-section {
  padding-bottom: 96px;
}

.contacts-container {
  display: flex;
  gap: 32px;
}

.contacts-block {
  flex-basis: calc((100% - 32px) / 2);
}

.contacts-title {
  margin-bottom: 16px;
  font-size: 56px;
}

.form-block {
  margin: 0 auto;
  flex-basis: 100%;
  max-width: 238px;
}

.form-button {
  margin-bottom: 16px;
}

.form-text {
  text-align: center;
  font-size: 12px;
}

.form-link {
  color: var(--color-primery-dark);
}

.contacts-map {
  border: none;
  border-radius: 16px;
}

/* Footer */
.footer {
  background-image: url(../Images/footer-image.png);
  background-color: var(--color-primery-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer-container {
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.footer-blocks {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-social {
  display: flex;
  gap: 24px;
}

.footer-text {
  font-size: 14px;
  color: var(--color-primery-normal);
}
