/* Fonts */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 300;
  src: url("../fonts/poppins-v24-latin-300.woff2") format("woff2"),
    url("../fonts/poppins-v24-latin-300.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2"),
    url("../fonts/poppins-v24-latin-regular.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2"),
    url("../fonts/poppins-v24-latin-600.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 900;
  src: url("../fonts/poppins-v24-latin-900.woff2") format("woff2"),
    url("../fonts/poppins-v24-latin-900.ttf") format("truetype");
}

:root {
  --color-primery-dark: #31261a;
  --color-primery-light: #faf4ea;
  --color-brand-dark: #465929;
  --color-brand-light: #819b57;
  /* --color-secondary-dark: ; */
  --color-secondary-light: #a18268;
}

/* Base */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-primery-dark);
  background-color: lightgray;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.section-title {
  font-size: 64px;
  line-height: 1.3;
  font-weight: 900;
}

.accent-font {
  font-weight: 600;
  text-transform: uppercase;
}

.accent-light {
  color: var(--color-brand-light);
}

.accent-dark {
  color: var(--color-brand-dark);
}

.accent-secondary {
  color: var(--color-secondary);
}

/* Button */
.button {
  width: 100%;
  max-width: 238px;
  padding: 16px 32px;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 600;
  color: var(--color-primery-light);
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  color: var(--color-brand-light);
  background-color: transparent;
}

/* Link */
.link {
  color: var(--color-primery-light);
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-light);
}

.address-link {
  font-style: normal;
  font-size: 16px;
  font-weight: 300;
}

/* Header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.header-list {
  display: flex;
  justify-content: center;
  gap: 64px;
}

/* Hero-section */
.hero-section {
  padding: 272px 0;
}

.hero-title {
  margin-bottom: 0;
  font-size: 128px;
  font-weight: 900;
  color: var(--color-primery-light);
  text-align: center;
}

/* Advantages-section */
.advantages-section {
  background-color: var(--color-brand-light);
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 16px 0;
  font-size: 20px;
  font-weight: 300;
  color: var(--color-primery-light);
}

/* Traditions-section */
.traditions-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  display: flex;
  flex-direction: column;
  gap: 42px;
  flex-basis: 100%;
  max-width: 688px;
}

.traditions-text {
  display: flex;
  flex-direction: column;
  gap: 42px;
  margin: 0;
}

/* Chefs-section */
.chefs-title {
  text-align: center;
  margin-bottom: 80px;
}

.chefs-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.chef-card {
  display: flex;
  gap: 32px;
}

.chef-content {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  max-width: 328px;
}

.chef-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

.chef-text {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* Formats-section */
.formats-title {
  text-align: center;
}

.formats-list {
  color: var(--color-primery-light);
}

.format-title {
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

/* Contacts-section */
.contacts-section {
  padding-bottom: 96px;
}

.contacts-text {
  font-size: 12px;
}

.contacts-link {
  color: var(--color-primery-dark);
}

/* Footer */
.footer-text {
  font-size: 14px;
}
