*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
  color: var(--color-primery-dark);
  background-color: var(--color-primery-light);

  @media screen and (min-width: $br-tablet) {
    font-size: 16px;
  }

  @media screen and (min-width: $br-desktop) {
    font-size: 18px;
    font-weight: 400;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// img {
//   display: block;
//   width: 100%;
//   height: auto;
// }
