.text-font {
  font-weight: 600;
  text-transform: uppercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-light {
  color: var(--color-brand-light);
}

.text-dark {
  color: var(--color-brand-dark);
}
