:root {
  --color-primery-dark: #31261a;
  --color-primery-normal: #a18268;
  --color-primery-light: #faf4ea;
  --color-brand-dark: #465929;
  --color-brand-light: #819b57;
  --color-secondary: #cfcfbc;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
