.chefs-section {
  &__title {
    text-align: center;
    margin-bottom: 24px;

    @media screen and (min-width: $br-desktop) {
      position: relative;
      margin-bottom: 80px;
    }

    &::before,
    &::after {
      display: none;

      @media screen and (min-width: $br-desktop) {
        position: absolute;
        bottom: 24px;
        display: block;
        width: 344px;
        border: 2px solid var(--color-secondary);
        content: "";
      }
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;

    @media screen and (min-width: $br-tablet) {
      gap: 24px 32px;
    }
  }

  &__item {
    margin: 0 auto;
    max-width: 330px;

    @media screen and (min-width: $br-tablet) {
      flex-basis: calc((100% - 40px) / 2);
    }

    @media screen and (min-width: $br-tablet) {
      max-width: 606px;
    }
  }
}
