.contacts-section {
  padding: 20px 0 0;

  @media screen and (min-width: $bp-tablet) {
    padding-bottom: 96px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 32px;
    }
  }

  &__block {
    max-width: 604px;
  }

  &__title {
    margin-bottom: 8px;
    text-align: center;
    font-size: 56px;
    line-height: 1.3;
    font-weight: 900;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 16px;
      text-align: left;
    }
  }

  &__text {
    margin-bottom: 24px;
    text-align: center;
    color: var(--color-brand-dark);

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 40px;
      text-align-last: left;
    }
  }

  &__form-fild {
    display: block;
    margin-bottom: 16px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 24px;
    }
  }

  &__button {
    display: block;
    margin: 0 auto 8px;
    width: 100%;

    @media screen and (min-width: $bp-tablet) {
      margin: 0 auto 16px;
    }
  }

  &__map {
    margin: 0 -24px;
    aspect-ratio: 4/2;
    border: none;

    @media screen and (min-width: $bp-tablet) {
      margin: 0 auto;
      aspect-ratio: 0;
      width: 100%;
      height: 596px;
      border-radius: 16px;
    }
  }
}
