.footer {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  background-image: url(../Images/footer-image.png);
  background-color: var(--color-primery-dark);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  overflow: hidden;

  @media screen and (min-width: $bp-tablet) {
    background-position: center;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../Images/footer-image@2x.png);
  }

  &::before,
  &::after {
    position: absolute;
    display: none;
    background-repeat: no-repeat;
    content: "";
  }

  &::before {
    display: block;
    top: 56px;
    left: 0;
    width: 92px;
    height: 196px;
    background-image: url(../Images/bread-footer-smoll.png);

    @media screen and (min-width: $bp-tablet) {
      display: block;
      top: 132px;
      left: 0;
      width: 180px;
      height: 120px;
      background-image: url(../Images/decor-bread-smoll.png);
    }
  }

  &::after {
    display: block;
    right: -10px;
    bottom: -29px;
    width: 112px;
    height: 120px;
    background-image: url(../Images/bread-footer-big.png);

    @media screen and (min-width: $bp-tablet) {
      display: block;
      right: 0;
      bottom: 0;
      width: 378px;
      height: 188px;
      background-image: url(../Images/decor-bread-large.png);
    }
  }

  &__container {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    gap: 18px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      justify-content: space-between;
      gap: 24px;
    }
  }

  &__logo {
    margin: 0 auto 18px;

    @media screen and (min-width: $bp-tablet) {
      margin: 0;
    }
  }

  &__blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    @media screen and (min-width: $bp-tablet) {
      align-items: flex-start;
    }

    &--tern {
      margin-top: -8px;
      gap: 8px;

      @media screen and (min-width: $bp-tablet) {
        gap: 16px;
      }
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    gap: 22px;

    @media screen and (min-width: $bp-tablet) {
      gap: 24px;
    }
  }

  &__link {
    font-style: normal;
    font-size: 14px;
    font-weight: 300;

    @media screen and (min-width: $bp-tablet) {
      font-size: 16px;
    }
  }

  &__text {
    text-align: center;
    font-size: 12px;
    color: var(--color-primery-normal);

    @media screen and (min-width: $bp-tablet) {
      font-size: 14px;
    }
  }
}
