.header {
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 16px;
  z-index: 1;

  @media screen and (min-width: $br-desktop) {
    padding-top: 32px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }

  &__nav {
    display: none;

    @media screen and (min-width: $br-desktop) {
      display: flex;
      flex-grow: 1;
      margin: 0 auto;
      max-width: 592px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-grow: 1;
    gap: 24px;
  }

  &__button {
    display: none;

    @media screen and (min-width: $br-desktop) {
      display: block;
    }
  }

  &__burger {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    @media screen and (min-width: $br-desktop) {
      display: none;
    }
  }
}
