.header {
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 32px;
  z-index: 1;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }

  &__nav {
    display: flex;
    flex-grow: 1;
    max-width: 592px;
  }

  &__list {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-grow: 1;
    gap: 24px;
  }
}
