.hero-section {
  position: relative;
  margin: 0 auto 20px;
  padding: 122px 0;
  background-image: linear-gradient(
      102.76deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url(../Images/hero-image.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  @media screen and (min-width: $br-tablet) {
    margin: 0 auto;
    padding: 272px 0;
    max-width: 1440px;
  }

  &__title {
    margin-bottom: 48px;
    font-size: 64px;
    font-weight: 900;
    color: var(--color-primery-light);
    text-align: center;

    @media screen and (min-width: $br-tablet) {
      font-size: 80px;
    }

    @media screen and (min-width: $br-desktop) {
      margin: 0;
      font-size: 128px;
    }
  }

  &__button {
    display: block;
    margin: 0 auto;
    padding: 10px 24px;
    font-size: 16px;

    @media screen and (min-width: $br-desktop) {
      display: none;
    }
  }
}
