.traditions-section {
  @media screen and (min-width: $br-tablet) {
    padding-top: 96px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  &__title {
    margin-bottom: 24px;

    @media screen and (min-width: $br-tablet) {
      margin-bottom: 40px;
    }
  }

  &__content {
    max-width: 688px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
    font-size: 16px;
    font-weight: 300;

    @media screen and (min-width: $br-desktop) {
      gap: 40px;
    }
  }

  &__foto {
    display: none;

    @media screen and (min-width: $br-tablet) {
      display: block;
      border-radius: 400px 400px 8px 8px;
      max-width: 320px;
    }

    @media screen and (min-width: $br-desktop) {
      max-width: 392px;
    }
  }
}
