.traditions-section {
  padding-top: 96px;

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__content {
    max-width: 688px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0;
  }

  &__foto {
    border-radius: 400px 400px 8px 8px;
  }
}
