.chef-card {
  display: flex;
  align-items: flex-start;
  gap: 16px;

  @media screen and (min-width: $br-desktop) {
    gap: 32px;
  }

  &__foto {
    width: 140px;
    height: 226px;
    border-radius: 8px 8px 8px 200px;
    box-shadow: -10px 10px 0 0 var(--color-primery-light),
      -10px 10px 0 2px var(--color-primery-normal);

    @media screen and (min-width: $br-desktop) {
      width: 240px;
      height: 390px;
      box-shadow: -16px 16px 0 0 var(--color-primery-light),
        -16px 16px 0 2px var(--color-primery-normal);
    }
  }

  &__title {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 600;

    @media screen and (min-width: $br-tablet) {
      font-size: 32px;
    }

    @media screen and (min-width: $br-desktop) {
      margin-bottom: 16px;
      font-size: 40px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media screen and (min-width: $br-desktop) {
      gap: 32px;
    }
  }
}
