.link {
  text-decoration: none;
  color: var(--color-primery-light);
  transition: color 0.2s;

  &:hover {
    color: var(--color-brand-light);
  }

  &--mobile {
    font-size: 14px;
    font-weight: 300;
    color: var(--color-primery-dark);

    @media screen and (min-width: $br-tablet) {
      font-size: 18px;
      font-weight: 400;
    }
  }
}
